html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

ol, ul {
  margin: 0 0 0 40px;
  padding: 0;
}

/* typography */
body {
  font-family: "Open Sans", Arial, Tahoma, sans-serif;
  
  background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
  
}
p,
li {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #222;
}
p {
  margin-bottom: 1em;
}

strong,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  margin: 0;
  color: #666;
  margin-bottom: 0.5em;

  @media (max-width: 767px) {
    margin-top: 0.5em;
  }
}

h1 {
  font-size: 3rem;

  @media (max-width: 1024px) {
    font-size: 2.5rem;
  }
  @media (max-width: 500px) {
    font-size: 2rem;
  }

}
h2 {
  font-size: 2rem;
  
  @media (max-width: 1024px) {
    font-size: 1.7rem;
  }
  @media (max-width: 500px) {
    font-size: 1.5rem;
  }
}
h3 {
  font-size: 1.7rem;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }
  @media (max-width: 500px) {
    font-size: 1.3rem;
  }
}
h4 {
  font-size: 1.3rem;

  @media (max-width: 1024px) {
    font-size: 1.1rem;
  }
  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

.sub-title {
  margin-top: -0.5rem;
  font-size: 1.2rem;
  font-style: italic;
  color: #666;

  @media (max-width: 1024px) {
    font-size: 1.1rem;
  }
}

.small-screen-only {
  display: none;
}

.to-top {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.to-top  * {
  pointer-events: none;
}

.to-top  g {
  fill: transparent;
  stroke-width: 1px;
  stroke: #333;
}

.is-scrolling .to-top {
  opacity: 1;
  pointer-events: auto;
}

header:before,
header:after {
  content: "";
  position: fixed;
  left: 0;
  transition: all 1s ease-in-out;
  width: 200%;
  height: 200%;
  background-color: rgba(50, 50, 100, 0.8);
}

header:before {
  top: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
}

.menu-active header:before {
  transform: rotate(0deg);
}

header:after {
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: bottom left;
}

.menu-active header:after {
  transform: rotate(0deg);
}